<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title></title>
		<link rel="stylesheet" href="../css/index.css">
		<link rel="stylesheet" href="../css/public.css">
		<script src="../js/vue.js"></script>
		<script src="../js/index.js"></script>
		<script src="../js/axios.min.js"></script>
		<script src="../js/public.js"></script>
	</head>
	<style>
		body { margin: 0; padding: 0; }
    	
		
		
    </style>
	<body>
	<div id="tableView" class="main-content" style="right:0px;left:0px;" id="treeView" >
		<div  class="ibox-title" style="float:left;position: absolute; width:100%;height:60px;">
			<!--列表顶部搜索和工具条-->
			<el-row>
				<el-form :inline="true" :model="searchForm" class="demo-form-inline">
					<el-form-item>
						<i class="el-icon-info" 
							style="font-size: 1.2rem;color: #1b7f7f;font-weight: 800;">
							运营效率分析
						</i>
					</el-form-item>
					<el-form-item label="ID">
						<el-input v-model="searchForm.id" placeholder="ID"></el-input>
					</el-form-item>
					<el-form-item label="名称">
						<el-input v-model="searchForm.name" placeholder="名称"></el-input>
					</el-form-item>
					<el-form-item label="状态">
						<el-select v-model="searchForm.state" placeholder="状态">
							<el-option label="区域一" value="shanghai"></el-option>
							<el-option label="区域二" value="beijing"></el-option>
						</el-select>
					</el-form-item>
					<el-form-item>
						<el-button  icon="el-icon-search" @click="searchClick">
							查询
						</el-button>
						<el-button  icon="el-icon-date" @click="Excel">
							导出
						</el-button>

					</el-form-item>
				</el-form>
			</el-row>
			
		</div>	
		<div class="ibox-content" style="background-color:#fff;float: left;overflow-y:hidden;
		overflow-x: auto;position:absolute; width: 100%;top:60px;bottom: 0px;">	
			<!--列表-->
			<el-row>
				<el-table ref="table" :height="tableHeight" v-loading="loading" :data="tableData" border style="width:100%" >
					<!-- <el-table-column type="selection" width="55">
					</el-table-column> -->
					<el-table-column label="序号" type="index" align="center" show-overflow-tooltip width="50px">
					</el-table-column>
					<el-table-column prop="rq" label="日期" width="150">
					</el-table-column>
					<el-table-column prop="tqbh" label="台区编号" width="120">
					</el-table-column>
					<el-table-column prop="tgmc" label="台区名称" width="220">
					</el-table-column>
					<el-table-column prop="gdl" label="供电量" width="120">
					</el-table-column>
					<el-table-column prop="sdl" label="售电量" width="300">
					</el-table-column>
					<el-table-column prop="ssl" label="线损率" width="120">
					</el-table-column>
					
				</el-table>
			</el-row>

		</div>
	</div>
	</body>
	<script type="text/javascript">

		var tableView = new Vue({
			el: '#tableView',
			data: {
				url:'',
				//列表数据
				tableData: [],
				//显示加载中样式
				loading: false,
				//搜索表单
				searchForm: {
					id: '',
					name: '',
					state: ''
				},
				tableHeight: 250,
				//多选值
				multipleSelection: [],
				//当前页
				currentPage: 1,
				//分页大小
				pageSize: 100,
				//总记录数
				total: 800,
				//删除的弹出框
				deleteVisible: false,
				//编辑界面是否显示
				editFormVisible: false,
				editLoading: true,
				editFormRules: {
					name: [{
						required: true,
						message: '请输入姓名',
						trigger: 'blur'
					}]
				},
				//编辑界面数据
				editForm: {
					id: 0,
					name: '',
					sex: -1,
					age: 0,
					birth: '',
					address: ''
				},
			},
			mounted () {
				var _this = this;   //很重要！！
				this.$nextTick(() => {
						this.setTableHeight()
						// 监听窗口大小变化
						window.onresize = () => {
								this.setTableHeight()
						}
				})
			},
			beforeDestroy () {
					// 由于window.onresize是全局事件，在其他页面改变界面时也会执行，这样可能会出现问题，需要在
					//离开这个界面时注销window.onresize事件
					window.onresize = null
			},
			methods: {
				//表格重新加载数据
				loadingData: function() {
					var _self = this;
					_self.loading = true;
					setTimeout(function() {
						console.info("加载数据成功");
						_self.loading = false;
					}, 300);
				},
				
				//表格查询事件
				searchClick: function() {
					var _this = this
					//_this.loadingData(); //重新加载数据	
					_this.loading=true;
					_this.url=baseurl+'/tq/ListRxs';
					axios.get(_this.url)
					    .then(function (res) {
					        console.log(res);
					        _this.tableData = res.data;
									_this.loading=false;
					    })
					    .catch(function (error) {
					        console.log(error);
					    });
				},
				//导出Excel
				Excel: function() {
					var _this = this
					var field =new Array("rq","tqbh","tgmc","gdl","sdl","ssl");
					var title =new Array("日期","单位编号","单位名称","字段名4","字段名5","字段名6"); 
					ExpExcel(_this.url,'666',field,title)
				},
				setTableHeight () {
						this.tableHeight = window.innerHeight - this.$refs.table.$el.offsetTop -60
						console.log('this.tableHeight')
						console.log(this.tableHeight)
				}
				
			}/* ,
			mounted: function () {
					var _this = this;   //很重要！！
					_this.tableHeight = window.innerHeight - _this.$refs.table.$el.offsetTop - 50;
				 
			} */
		})
	</script>
</html>
