<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/public.css}">
    <script th:src="@{/js/vue.js}"></script>
    <script th:src="@{/js/index.js}"></script>
    <script th:src="@{/js/axios.min.js}"></script>
    <script th:src="@{/js/public.js}"></script>
    <script lang="javascript" th:src="@{/js/xlsx.full.min.js}"></script>
    <script th:src="@{/js/FileSaver.min.js}" charset="utf-8"></script>

</head>

<style>
    body {
        margin: 0;
        padding: 0;
    }

    .el-scrollbar .el-scrollbar__view .el-select-dropdown__item {
        height: auto;
        max-height: 600px;
        padding: 0;
        overflow: hidden;
        overflow-y: hidden;
    }
    .el-select-dropdown__item.selected {
        font-weight: normal;
    }

</style>

<body>
<div id="tableView" class="main-content" style="right:0px;left:0px; ">
    <div class="ibox-title" style="float:left;position: absolute; width:100%;height:70px;">
        <!--列表顶部搜索和工具条-->
        <el-row>
            <div>
                <el-form :inline="true" :model="searchForm" :rules="rules" ref="ruleForm" class="demo-form-inline"
                         label-width="100px">
                    <el-form-item>
                        <i class="el-icon-info"
                           style="font-size: 1.2rem;color: #1b7f7f;font-weight: 800;">
                            终端档案查询
                        </i>
                    </el-form-item>

                    <el-form-item style="padding-left: 120px;" prop="valueTitle" label="单位：">
                        <el-select ref="selectUpResId" v-model="searchForm.valueTitle" @clear="clearHandle"
                                   placeholder="请选择">
                            <el-option :value="valueId" :label="searchForm.valueTitle" class="options">
                                <el-tree id="tree-option" ref="selectTree" :data="data1" :props="props"
                                         accordion
                                         :node-key="props.value"
                                         :default-expanded-keys="defaultExpandedKey" @node-click="handleNodeClick">
                                </el-tree>
                            </el-option>
                        </el-select>
                    </el-form-item>

                    <el-form-item label="终端号：" style="padding-left: 20px;">
                        <el-input v-model="searchForm.posid" placeholder="请输入终端号" clearable></el-input>
                    </el-form-item>

                    <el-form-item style="padding-left: 100px;">
                        <el-button icon="el-icon-search" @click="searchClick()">
                            查询
                        </el-button>
                    </el-form-item>

                    <el-form-item style="padding-left: 40px;">
                        <el-button icon="el-icon-date" @click="Excel">
                            导出
                        </el-button>
                    </el-form-item>


                </el-form>
            </div>
        </el-row>
    </div>

    <!--
    overflow-y:   hidden 裁剪内容 - 不提供滚动机制
                   auto 如果溢出框，则应该提供滚动机制
    -->

    <div class="v-content" style="background-color:#fff;float: left;overflow-y:hidden;
overflow-x: auto;position:absolute; width: 100%;top:67px;bottom: 0px;">
        <!--列表-->
        <el-row>
            <el-table id="exportable" ref="table" :height="tableHeight" highlight-current-row v-loading="loading"
                      :data="tableData"
                      border style="width:100%;white-space:nowrap;">

                <el-table-column label="序号" type="index" align="center" show-overflow-tooltip width="50px">
                </el-table-column>
                <el-table-column :show-overflow-tooltip="true" prop="orgno" label="供电编号" width="110px;" align="center">
                </el-table-column>
                <el-table-column :show-overflow-tooltip="true" prop="orgname" label="供电单位" width="160px;"
                                 align="center">
                </el-table-column>
                <el-table-column :show-overflow-tooltip="true" prop="code" label="商户号" width="160px;" align="center">
                </el-table-column>
                <el-table-column :show-overflow-tooltip="true" prop="posid" label="终端号" width="160px;" align="center">
                </el-table-column>
                <el-table-column :show-overflow-tooltip="true" prop="orderid" label="序列号" width="160px;" align="center">
                </el-table-column>
                <el-table-column :show-overflow-tooltip="true" prop="gprs" label="GPRS卡号" width="200px;" align="center">
                </el-table-column>
                <el-table-column :show-overflow-tooltip="true" prop="type" label="机型" width="160px;" align="center">
                </el-table-column>
                <el-table-column :show-overflow-tooltip="true" prop="address" label="设备安装地点" width="200px;"
                                 align="center">
                </el-table-column>
                <el-table-column :show-overflow-tooltip="true" prop="installdate" label="安装时间" width="160px;"
                                 align="center">
                </el-table-column>
                <el-table-column :show-overflow-tooltip="true" prop="village" label="所属行政村" width="200px;"
                                 align="center">
                </el-table-column>
                <el-table-column :show-overflow-tooltip="true" prop="trans" label="所属台区" width="160px;" align="center">
                </el-table-column>
                <el-table-column :show-overflow-tooltip="true" prop="workerid" label="设备责任人编号" width="120px;"
                                 align="center">
                </el-table-column>
                <el-table-column :show-overflow-tooltip="true" prop="workername" label="设备责任人" width="190px;"
                                 align="center">
                </el-table-column>
                <el-table-column :show-overflow-tooltip="true" prop="state" label="运行状态" width="120px;" align="center">
                </el-table-column>
                <el-table-column :show-overflow-tooltip="true" prop="note" label="备注" width="160px;" align="center">
                </el-table-column>
                <el-table-column :show-overflow-tooltip="true" prop="jf_count" label="1到5月缴费笔数" width="160px;"
                                 align="center">
                </el-table-column>
                <el-table-column :show-overflow-tooltip="true" prop="money" label="场地租赁费" width="120px;" align="center">
                </el-table-column>
                <el-table-column :show-overflow-tooltip="true" prop="telephone" label="联系电话" width="120px;"
                                 align="center">
                </el-table-column>
            </el-table>
        </el-row>
    </div>
</div>

</body>

<script type="text/javascript">

    var tableView = new Vue({
        el: '#tableView',
        data() {
            var validateValueTitle = (rule, value, callback) => {
                if (!value) {
                    callback(new Error('请选择'));
                } else {
                    callback();
                }
            };
            return {
                loading: false,
                defaultExpandedKey: [],
                valueId: '',

                select: '',
                data1: [],
                props: {
                    id: 'id',       // ID字段名
                    label: 'label', // 显示名称
                    grade: 'grade', // 所属等级
                    children: 'children' // 子级字段名
                },
                rules: {
                    valueTitle: [
                        {validator: validateValueTitle, trigger: 'change'}
                    ]
                },
                url: '',
                //列表数据
                tableData: [],
                //显示加载中样式
                loading: false,
                //搜索表单
                searchForm: {
                    posid: '',
                    valueTitle: ''
                },
                open: false,
                form: {
                    orgno: '',
                    orgname: '',
                    code: '',
                    posid: '',
                    orderid: '',
                    gprs: '',
                    type: '',
                    address: '',
                    installdate: '',
                    village: '',
                    trans: '',
                    workerid: '',
                    workername: '',
                    state: '',
                    note: '',
                    jf_count: '',
                    money: '',
                    telephone: ''
                },
                tableHeight: 470,
                //当前页
                currentPage: 1,
                //分页大小
                pageSize: 5,
                //总记录数
                total: ''
            }
        },
        mounted: function () {
            this.getOrg();

            this.$nextTick(() => {
                this.setTableHeight();
                // 监听窗口大小变化
                window.onresize = () => {
                    this.setTableHeight();
                }
            });
        },
        beforeDestroy: function () {
            // 由于window.onresize是全局事件，在其他页面改变界面时也会执行，这样可能会出现问题，需要在
            //离开这个界面时注销window.onresize事件
            window.onresize = null;
        },

        methods: {

            // 窗口大小
            setTableHeight: function () {
                this.tableHeight = window.innerHeight - this.$refs.table.$el.offsetTop - 60;
            },

            // 下拉框数据的查询
            getOrg: function () {
                var _this = this;

                axios.get(baseurl+"/SelectOrg")
                    .then(function (res) {
                        _this.data1 = res.data;
                        /*  _this.valueTitle = res.data[0].label;
                          _this.valueId = res.data[0].id;*/
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },


            // 切换选项
            handleNodeClick: function (node) {
                    this.searchForm.valueTitle = node[this.props.label];
                    this.valueId = node[this.props.id];
                    this.$emit('getValue', this.valueId);
                    this.defaultExpandedKey = [];
                    // 选择器执行完成后，使其失去焦点隐藏下拉框的效果
                    this.$refs.selectUpResId.blur()

                    this.form.orgno = this.valueId;
                    this.form.orgname = this.searchForm.valueTitle;

            },

            // 清除选中
            clearHandle: function () {
                this.searchForm.valueTitle = '';
                this.valueId = null;
                this.defaultExpandedKey = [];
                this.$emit('getValue', null);
                // console.log(JSON.stringify(this.data1))
            },

            // 查询
            searchClick: function () {
                this.$refs.ruleForm.validate((valid) => {
                    if (valid) {
                        var _this = this;
                        var orgno = _this.valueId;
                        var posid = _this.searchForm.posid;
                        _this.loading = true;

                        _this.url = baseurl + "/jfzd/selectXldj?orgno=" + orgno + "&posid=" + posid;

                        axios.get(_this.url, orgno, posid)
                            .then(function (res) {
                                if(res.data.length > 0){
                                    _this.tableData = res.data;
                                    _this.loading = false;
                                }else {
                                    _this.tableData = [];
                                    _this.loading = false;
                                }
                            })
                            .catch(function (error) {
                                console.log(error);
                            });
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });

            },

            // 导出Excel
            Excel: function () {
                if(this.tableData.length >0){
                    this.$refs.ruleForm.validate((valid) => {
                        if (valid) {
                            var xlsxParam = {raw: true};
                            var wb = XLSX.utils.table_to_book(document.querySelector('#exportable'), xlsxParam);
                            var wbout = XLSX.write(wb, {bookType: 'xlsx', bookSST: true, type: 'array'})
                            try {
                                saveAs(new Blob([wbout], {type: 'application/octet-stream'}), '终端档案查询.xlsx')
                            } catch (e) {
                                if (typeof console !== 'undefined') console.log(e, wbout)
                            }
                            return wbout
                        } else {
                            console.log('error submit!!');
                    return false;
                }
                });
                }else {
                    this.$message.error("无数据,请选择需要导出的数据!!!");
                }

            }
        }
    })

</script>
</html>